<div class="movie-group-banner">
    <div class="add-horizontal-margin">

        <div class="movie-group-menu">
            <div class="movie-group-menu-text">
                <div class="movie-group-heading">
                    <div class="">Online Streaming Events</div>
                </div>

                <div class="movie-group-see-all">
                    <a href="" class="">
                        <div class="see-all-text">See All ›</div>
                    </a>
                </div>

            </div>


            <div class="movie-group-cards">
                <div class="movie-group-card-image">
                    <img class="card-image-styles"
                        src="https://in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:ote-U2F0LCAxNyBKdWw%3D,ots-29,otc-FFFFFF,oy-612,ox-24/et00312016-vbzjkqyrvn-portrait.jpg">
                    <div class="movie-group-movie-name">Dear Ishq-A Festival
                        of KisseyKahaniya...</div>
                    <div class="movie-group-movie-language">Watch on BookMyShow</div>
                </div>
                <div class="movie-group-card-image">
                    <img class="card-image-styles"
                        src="https://in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:ote-U2F0LCAzIEp1bA%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-24/et00311846-kfknjyamln-portrait.jpg">
                    <div class="movie-group-movie-name">Times Mic Drop with
                        Shankar Ehsaan Loy</div>
                    <div class="movie-group-movie-language">Online Streaming</div>
                </div>
                <div class="movie-group-card-image">
                    <img class="card-image-styles"
                        src="https://in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:ote-V2VkLCAzMCBKdW4gb253YXJkcw%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-24/et00138060-yhudggcwxh-portrait.jpg">
                    <div class="movie-group-movie-name">Art & Drawing - junior Kids - Hobbystation</div>
                    <div class="movie-group-movie-language">Watach on Zoom</div>
                </div>
                <div class="movie-group-card-image">
                    <img class="card-image-styles"
                        src="https://in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:ote-VHVlLCA2IEp1bA%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-24/et00130234-cyqqkyavlt-portrait.jpg">
                    <div class="movie-group-movie-name">RAELL PADAMSEE S
                        Young Actors Club</div>
                    <div class="movie-group-movie-language">Watach on Zoom</div>
                </div>
                <div class="movie-group-card-image">
                    <img class="card-image-styles"
                        src="https://in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:ote-VHVlLCAyOSBKdW4gb253YXJkcw%3D%3D,ots-29,otc-FFFFFF,oy-612,ox-24/et00304931-vtqssmrjyq-portrait.jpg">
                    <div class="movie-group-movie-name">Introduction to Found
                        Poetry- A One Page..</div>
                    <div class="movie-group-movie-language">Online Streaming</div>
                </div>
            </div>
        </div>
    </div>
</div>
