

@import url(https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css);

.slider-block {
    margin-top: 0.5vw;
    
    .slider-block-images {
        
        
        img {
            width: 50vw;
            height: 20vw;
            padding: 0vw 0.3vw;
        }
    }
}


