<div class="slider-block js-flickity" data-flickity-options='{ "wrapAround": true }'>
    <div class="slider-block-images">
        <img alt="Free Online Courses by upGrad"
            src="https://in.bmscdn.com/showcaseimage/eventimage/free-online-courses-upstart-by-upgrad-04-05-2021-12-58-02-697.jpg">
    </div>
    <div class="slider-block-images">
        <img alt="Light,Camera,Oxygen"
            src="https://in.bmscdn.com/showcaseimage/eventimage/kitne-comics-the-02-06-2021-05-44-21-927.jpg">
    </div>
    <div class="slider-block-images">
        <img alt="Rupay book my stream"
            src="https://in.bmscdn.com/showcaseimage/eventimage/dhruva-natchathiram-29-06-2021-10-15-08-288.jpg">
    </div>
</div>